## MAC OS
.DS_Store

## RubyMine
/.idea

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
.*.sw?

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
.rvmrc
*.log
spec/*/*/*.sqlite3
Gemfile.lock
gemfiles/*.lock
gemfiles/**/*.lock
